## como o arquivo da Tabela podemos visualizar o seu conteúdo

In [6]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('clientes.db')

selectAll = "SELECT * FROM clientes"

df = pd.read_sql_query(selectAll, conn)
df.head()

   id        nome   sobrenome                      email             cpf
0   1    Geruncio       Silva         silvage3@gmail.com  515.251.154-20
1   2    Silveira  Silveinhda        asdadasd3@gmail.com  234.251.154-20
2   4   Carlinhos      Macedo  Carlosmacedo@yahoo.com.br  514.321.521.20
3   5    Gabriela     Rochedo      GabiDksdam2@gmail.com  165.544.854-12
4   6  Mksabriela   silveirdo         asdaeem2@gmail.com  345.544.854-12

## Ou então adicionar novos conteudos nele

In [7]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('clientes.db')

dados = {
    'nome':['Geovani','Clara','Joaquim','Julio']
    ,'sobrenome':['Monteiro','Macedo','Antonio','Cezar']
    ,'email':['GeovasMonc@gmail.com','ClaraMacedinho@yahoo.com','JoaquinzinhoMilho@gmail.com','ImperadorRomano@gmail.com']
    ,'cpf':['567.890.123-45','456.789.012-34','345.678.901-23','234.567.890-12']
}

df = pd.DataFrame(dados)

df.to_sql('clientes', conn, if_exists='append', index=False)
df.head()
conn.close()