In [1]:
import pandas as pd

In [3]:
autor = [ 'Sun Tzu', 'Fernando Pessoa' ,'Thomas Mann' ,'Joao Guimaraes Rosa']
livro = ['A Arte da Guerra', 'O Livro do Desassossego','A Montanha Mágica','Grande Sertão Veredas']
ano = [2000,1982,1924,2002]

dados = {
    'Autor':autor,
    'Livro':livro,
    'Ano':ano
}
Biblioteca = pd.DataFrame(dados)
Biblioteca

                 Autor                    Livro   Ano
0              Sun Tzu         A Arte da Guerra  2000
1      Fernando Pessoa  O Livro do Desassossego  1982
2          Thomas Mann        A Montanha Mágica  1924
3  Joao Guimaraes Rosa    Grande Sertão Veredas  2002

In [4]:
type(Biblioteca)

pandas.core.frame.DataFrame

Convertendo para um arquivo.csv

In [20]:
Biblioteca.to_csv('Biblioteca.csv')

o csv foi atualizado por fora, podemos ler ele novamente pelo pd.read_csv

Adicionando o argumento index_col=0 ao comando podemos visualizar a tabela e seus índices. 
A chamada Biblioteca.head() retorna o mesmo resultado.

In [21]:
Biblioteca2= pd.read_csv('Biblioteca.csv',index_col=0)
Biblioteca2

                 Autor                    Livro   Ano
0              Sun Tzu         A Arte da Guerra  2000
1      Fernando Pessoa  O Livro do Desassossego  1982
2          Thomas Mann        A Montanha Mágica  1924
3  Joao Guimaraes Rosa    Grande Sertão Veredas  2002

Verificando as Informações

In [14]:
Biblioteca2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Autor   5 non-null      object
 1   Livro   5 non-null      object
 2   Ano     5 non-null      int64
dtypes: int64(1), object(2)
memory usage: 160.0+ bytes

Verificando as Colunas da Tabela

In [15]:
Biblioteca2.columns

Index(['Autor', 'Livro', 'Ano'], dtype='object')

In [10]:
Biblioteca2