importando Pandas

In [1]:
import pandas as pd

Criando um array unidimensional serie

In [3]:
series_objeto = pd.Series([1,7,9,13,17,99])
series_objeto

0     1
1     7
2     9
3    13
4    17
5    99
dtype: int64

Cada elemento da série está associado a um indice(index) perceba na coluna a esquerda o index e na direita o conteúdo
Podemos personalizar os indices da seguinte forma

In [12]:
series_objeto2 = pd.Series([4,7,8,9,10], index = ['alfa','beta','teta','gama','delta'])
series_objeto2

alfa      4
beta      7
teta      8
gama      9
delta    10
dtype: int64

Em Pandas temos dois tipos de estruturas de dados Listas e Dataframes
Definindo um dataframe

In [14]:
disciplinas = {'cursos':['estatisticas','pedagogia','administração','geometria','calculo']
               ,'creditos':[90,50,84,52,80]
               ,'requisitos':[True,False,True,True,True]}

data = pd.DataFrame(disciplinas)
data

          cursos  creditos  requisitos
0   estatisticas        90        True
1      pedagogia        50       False
2  administração        84        True
3      geometria        52        True
4        calculo        80        True

Imagine que você foi requisitado para projetar uma estrutura de dados tabular que contenha o nome e a população de algumas cidades brasileiras. Vamos iniciar com as três primeiras cidades. Criamos a variável nome_cidade que receberá os nomes e a variável população. A linha pd.DataFrame transforma as listas em um DataFrame.

In [20]:
nome_cidade = pd.Series(['Maringá','Itibaia','Uberlândia'])
populacao1 = pd.Series([50000,2500,2100])

pd.DataFrame({"Cidade": nome_cidade, "População":populacao1})

       Cidade  População
0     Maringá      50000
1     Itibaia       2500
2  Uberlândia       2100

Transformando listas em dicionario

In [22]:
cidades = ['Maringá','Salvador', 'Fortaleza','Itabira','Uberlândia']
populacao = [403.063 , 120.94, 699.07, 2.886698, 2,686612]
populacao_cidades = dict(zip(cidades,populacao))
populacao_cidades

{'Maringá': 403.063,
 'Salvador': 120.94,
 'Fortaleza': 699.07,
 'Itabira': 2.886698,
 'Uberlândia': 2}

Verificando as informações

In [24]:
'Maringá' in populacao_cidades

True

In [25]:
'São Paulo' in populacao_cidades

False

Adicionando uma nova ciddade na lista

In [27]:
populacao_cidades['São Carlos']=403.600
populacao_cidades

{'Maringá': 403.063,
 'Salvador': 120.94,
 'Fortaleza': 699.07,
 'Itabira': 2.886698,
 'Uberlândia': 2,
 'São Carlos': 403.6}

Deletando uma cidade da lista

In [28]:
del populacao_cidades['Uberlândia']
populacao_cidades

{'Maringá': 403.063,
 'Salvador': 120.94,
 'Fortaleza': 699.07,
 'Itabira': 2.886698,
 'São Carlos': 403.6}